# Ignore mac info files
.DS_Store

# ignore node things
node_modules/
npm-debug.log
package-lock.json
# prevent all root folders and filenames starting with "~". By convension, they are local folders only
# used for personal notes, data store, output dir, ...
~*

data/
